<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<h1 class="title">Create a meeting</h1>

<div class="full-screen">

  <%= simple_form_for [@meeting, @event] do |f| %>
    <%= f.input :contact_id, required: false  %>
    <%= f.submit "Save", class: "button-secondary" %>
  <% end %>

</div>

