<h1>Answers</h1>


Your points :

<% score = 0 %>

<% Question.all.each do |question| %>
  <% if question.score =! nil %>
    <% score = score + question.score %>
  <% end %>
<% end %>

<%= score %>

