<div class="jumbotron vertical-center">
	<div class="container" >
		<div class="row justify-content-center">
			<div class="col-sm-8">
				<div class="bounce-in-top">
					<h2>Hello, it's <strong>Kevin.</strong></h2>
				</div>
				<div class="text">In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'</div>

				<div class="buttons">
					<div class="button" >
						<a href="./users/sign_in">Log In</a>
					</div >

					<div class="button">
						<a href="./users/sign_up">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>