<div class="search-contact">
	<h2><strong>Friends.</strong></h2>				
	<div>
		<input type="text" name="search" placeholder="Enter a name" id="myInput" onkeyup="myFunction()">
	</div>
</div>


<div class="jumbotron vertical-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-4">



				<ul id="myUL">
					<% @contacts.each do |contact| %>
						<li>
						<%= link_to contact_path(contact) do %>
							<%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %>
						<% end %>
						</li>
						
					<% end  %>
				</ul>

				<script>
				function myFunction() {
				    var input, filter, ul, li, a, i, txtValue;
				    input = document.getElementById("myInput");
				    filter = input.value.toUpperCase();
				    ul = document.getElementById("myUL");
				    li = ul.getElementsByTagName("li");
				    for (i = 0; i < li.length; i++) {
				        a = li[i].getElementsByTagName("a")[0];
				        txtValue = a.textContent || a.innerText;
				        if (txtValue.toUpperCase().indexOf(filter) > -1) {
				            li[i].style.display = "";
				        } else {
				            li[i].style.display = "none";
				        }
				    }
				}
				</script>
				
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="big-circle">
		<div class="button-plus">
			<div>
				<a class="fas fa-plus-circle" href="./contacts/new" style="color: white"></a>
			</div>
		</div>
	</div>
</div>