<div class="jumbotron vertical-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="cm-col-8">
				<div class="search-contact">
					<h2>Friends.</h2>				

					<div>
						<input type="text" name="search" placeholder="Search.." id="myInput" onkeyup="myFunction()">
					</div>
				</div>


				<ul id="myUL">
					<% @contacts.each do |contact| %>
						<li><a><%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></a></li>
						
					<% end  %>
				</ul>

				<script>
				function myFunction() {
				    var input, filter, ul, li, a, i, txtValue;
				    input = document.getElementById("myInput");
				    filter = input.value.toUpperCase();
				    ul = document.getElementById("myUL");
				    li = ul.getElementsByTagName("li");
				    for (i = 0; i < li.length; i++) {
				        a = li[i].getElementsByTagName("a")[0];
				        txtValue = a.textContent || a.innerText;
				        if (txtValue.toUpperCase().indexOf(filter) > -1) {
				            li[i].style.display = "";
				        } else {
				            li[i].style.display = "none";
				        }
				    }
				}
				</script>
				
				<%= link_to "Add a new contact", new_contact_path %>
			</div>
		</div>
	</div>
</div>