.question {
	width: 80%;
	position: fixed;
	font-size: 30px;
	top: 100px;
	margin-left: 25px;
	font-family: 'Gochi Hand', cursive;
}


.options {
	margin-top: 50%;
	display: flex;
	justify-content: space-between;
	.opt {	
		color: #4C45E4;
		font-size: 100px;
		padding: 20px;
		opacity: 0.6;
	}

	.opt:hover {
		opacity: 1;
	}
}
