.question {
	align-items: center;
	font-size: 20px;
}

.selected {
  border: 10px solid black ;
}


.options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	padding: 30px 0px 30px 0px;
}
