.search-meetings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  z-index: 100;
  padding: 5% 10%;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  h2 {
    text-align: left;
  }
  h3 {
    text-align: left;
  }
}

.clock {
  margin-bottom: 15px;
  margin-left: 15px;
}

.info-score {
  margin-bottom: 40px;
  margin-right: 10px;
  display: flex;

}

.meeting-infos {
  margin-left: 15px;
}


.meeting-infos p {
  color: grey;
}



.info-meeting p {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}


.info-meeting a {
  text-decoration: none;
  color: blue;
  font-size: 17px;
  text-decoration: none;
}

.cancel-meeting i {
  color: grey;
  text-decoration: none;
  margin-bottom: 10px;
}

.cancel-meeting {
  margin-bottom: 10px;
}

.info-meeting-show {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 0px 0px;
  margin: 30px;
  margin-bottom: 20px;

}

.info-meeting-show p {
  font-color: grey;
  text-decoration: none;
}

.photos-users-meeting {
  display:flex;

}


.percentage {
  margin-left: 180px;
}

.cancel-meeting {
  margin-top: 10px;
}


.score-meeting {
      position: relative;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #4C45E4;
      border: 3px solid #4C45E4;
      font-size: 18px;
      text-decoration: none;
    }

.score-meeting-show {
      position: relative;
      right: 15px;
      display: flex;
      align-items: center;
        justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      color: #4C45E4;
      border: 3px solid #4C45E4;
      font-size: 22px;
      text-decoration: none;
    }


#myUL-meeting {
  display: flex;
  flex-direction: column;
  flex-flow: scroll;
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-decoration: none;
}


.myUL-meeting a {
  text-decoration: none;
  color: black;
}

#myUL-meeting li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 23px rgba(168, 168, 168, 0.14);
  border-radius: 8px;
  text-decoration: none;

  .info-meeting {
    padding: 5px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    font-color: grey;
    display: flex;
    justify-content: space-between;
      .title {
      color: black;
      font-size: 17px;
      font-weight: 600;
      text-decoration: none;
      }
      .date {
        justify-content: space-between;
        color: grey;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;

      }

  }
}

#myUL-meeting :hover:not(.header) {
  background-color: #eee;
  text-decoration: none;
}
