.info-story-show {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 35px 0px 0px 0px;
  margin: 30px;
  margin-bottom: 50px;
}
.text-story {
  text-indent: 15px;
  text-align: justify;
}

.story-pictures {
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  height: 92px;
  width: 92px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 5px;
  transition: transform .5s;
  align-items: center;
}

img:hover {
  transform: scale(4);
  align-items: center;
}


.background-story {
  height: auto;
  flex-flow: scroll;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 40px;

}


#myUL-story {
  display: flex;
  flex-direction: column;
  flex-flow: scroll;  
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#myUL-story li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 23px rgba(168, 168, 168, 0.14);
  border-radius: 8px;

  .info-story {
    padding: 5px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    font-color: grey;
      .title {
      color: black;
      font-size: 17px;
      font-weight: 600;
      }
      .date {
        justify-content: space-between;
        color: grey;
        text-decoration: none;
      }
  }
}

#myUL-story :hover:not(.header) {
  background-color: #eee;
  text-decoration: none;
}

.contacts-pictures {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2px 2px 0px 0px;

}

.files-story {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-files {
  background-color: #f3f3f3;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  margin: 10px 10px;
  box-shadow: 0px 4px 12px rgba(90, 90, 90, 0.14);
  border-radius: 8px;
  width: 100px;
  height: 100px;
}