.info-story-show {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px 0px 0px;
  margin: auto;
  margin-bottom: 50px;
}

.title-story {
  margin-right: 70px;
}
